PortfolioTestApplication/Service References/PortfolioServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PortfolioServiceLibrary" />
  <xs:element name="GetCheckResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PortfolioServiceLibrary" minOccurs="0"
                    name="GetCheckResultsResult" nillable="true" type="q1:ArrayOfCheckResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateMarket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="percentage" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateMarketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulateMarketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>