PortfolioMarketSimulator/Service References/PortfolioServiceReference/PortfolioServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PortfolioServiceLibrary" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/PortfolioServiceLibrary"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckResult" nillable="true" type="tns:CheckResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckResult" nillable="true" type="tns:ArrayOfCheckResult" />
  <xs:complexType name="CheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMarketValueCheckIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWeightCheckIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Portfolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckResult" nillable="true" type="tns:CheckResult" />
</xs:schema>