PortfolioMarketSimulator/Service References/PortfolioServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PortfolioService"
                  targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PortfolioServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortfolioService_GetCheckResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckResults" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_GetCheckResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_SimulateMarket_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulateMarket" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_SimulateMarket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulateMarketResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortfolioService">
    <wsdl:operation name="GetCheckResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/GetCheckResults"
                  message="tns:IPortfolioService_GetCheckResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/GetCheckResultsResponse"
                   message="tns:IPortfolioService_GetCheckResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimulateMarket">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/SimulateMarket"
                  message="tns:IPortfolioService_SimulateMarket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/SimulateMarketResponse"
                   message="tns:IPortfolioService_SimulateMarket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPortfolioService" type="tns:IPortfolioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCheckResults">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/GetCheckResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimulateMarket">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/SimulateMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortfolioService">
    <wsdl:port name="BasicHttpBinding_IPortfolioService" binding="tns:BasicHttpBinding_IPortfolioService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PortfolioServiceLibrary/PortfolioService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>